@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "satoshi";
	src: url("./assets/fonts/Satoshi-Variable.woff2");
}

@font-face {
	font-family: "inter";
	src: url("./assets/fonts/Inter-Medium.ttf");
}

body {
	font-family: "inter";
}

h1,
h2,
h3 {
	font-family: "satoshi";
}
